html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/assets/img/background-image_9efc0ca6-aac2-44e6-a829-90fe965fb540.jpg');
    background-size: cover;  /* to cover the full viewport */
    background-repeat: no-repeat;
    background-position: center center; /* to position it in the center */
    font-family: Arial, sans-serif; /* optional: for better typography */
    margin: 2em 5em 5em 2em;
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
    h2, h3 {
        margin: 15px 0;
    }
}

/* Standard styling */
h2, h3 {
    margin: 20px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px; /* space between items */
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #333; /* change as per your design */
    padding: 5px 10px;
    transition: background-color 0.3s; /* smooth color transition */
}

nav a:hover {
    background-color: #eee; /* change as per your design */
}
