{% include '_header.html' %}
  <!-- this file is {{ output_filename }} -->
  <div class="flex-container">

    <h1>Preview: Communications Strategy Framework</h1>
  <p><b>The Communication strategy framework demystifies communication strategy.</b></p>
    <p>internal ToC: Courses at a glance ¦ Course Preview ¦ Learning paths</p>
    <h2>Courses at a glance</h2>
    <h3>Who are these courses for?</h3>
    <p><b>If you've ever been tasked with the development of your organisation's communication strategy and been bewildered and perplexed by the sheer variety of communications tactics out there, this course is for you.</b></p>
    <p>At the heart of all of these courses is a simple framework which separates communication strategy from communications tactics, allowing you to define the essence of your organisation's communication strategy with just a few interconnected tables. Depending on the course you take, you'll then use this approach to develop either the executive summary of the communications strategy, of a much more complete version.</p>
    <p> No prior knowledge is required. </p>
    <h3>Four Versions</h3>
    <p>The course comes in four versions:</p>
    <ul>
      <li><b>v1: Executive summary (on demand).</b> A series of short videos walking you through the process of creating your organisation's "Executive Summary" external communication strategy, using a template supplied as a download.</li>
      <li><b>v2:  Executive summary with Q&A.</b> The same content as version 1, above, but with an AMA (Ask Mathew Anything) webinar, held twice a week:
        <ul>
          <li>EU-friendly: every ?? at ?? CET (?? Pacific)</li>
          <li>US-friendly: every ?? at ?? Pacific (?? CET)</li>
        </ul>
      </li>
      <li><b>v3: Full strategy (on demand).</b>Building on the content of version 1, but taken much further. You'll use the supplied templates to flesh out a far more detailed and complete external communication strategy for your organisation, along with a poster of the key points to support internal adoption. </li>
      <li><b>v2: Full strategy with Q&A.</b> The same content as version 3, above, but with an AMA (Ask Mathew Anything) webinar, held twice a week:
        <ul>
          <li>EU-friendly: every ?? at ?? CET (?? Pacific)</li>
          <li>US-friendly: every ?? at ?? Pacific (?? CET)</li>
        </ul>
      </li>
    </ul>
    <h3>Your instructor</h3>
    <h2>Course Preview</h2>
    <h3>Interconnected tables</h3>
    <p>As the name suggests, the document you'll produce in versions 1 or 2 is literally the executive summary of the full document you'll produce in versions 3 or 4. And at the heart of this executive summary are a handful of interrelated tables:</p>
    <ul>
      <li> </li>
      <li> </li>
    </ul>
    <p>This is technically four tables because we tackle them one at a time, building them up as we move through the downloaded template. However, the first three all have "audience" in their first column, and so can be combined into one table... albeit in A3 (B-Size) format. Versions 3 & 4 provide a poster template, setting out these key elements of your communication strategy to get everyone in your organisation onto the same page.</p>

    <h2>Learning paths</h2>
      <p>Courses 1, 2 & 3 all provide coupon discounts to all Communication Strategy Framework courses, so you can start by creating an executive summary and - if you like the result - upgrade cheaply to create your organisation's full communications strategy.</p>

  </div>
{% include '_footer.html' %}
