{% include '_header.html' %}
  <!-- this file is {{ output_filename }} -->
  <div class="flex-container">

    <h1>Preview: Personal Productivity Framework</h1>
    <p><b>Whatever your productivity system, this framework will help you improve it.</b></p>
    <p>internal ToC: Courses at a glance ¦ Course Preview ¦ Learning paths</p>
    <h2>Courses at a glance</h2>
    <h3>Who are these courses for?</h3>
    <p>If you're a knowledge worker who feels at least occasionally overwhelmed by the firehose of content and tasks coming at you every day, these courses are for you.</p>
    <p>Investing in improving your personal productivity will generate compound interest throughout your life ... as long as you don't get addicted to productivity porn and end up spending more time tweaking your system than actually using it to get things done.</p>
    <p>That's why this framework helps you design a personal productivity system that meets your unique needs, rather than training you to adopt someone else's. And it ensures that the resulting system saves you more time than you actually spend developing and refining the system. </p>
    <p>No prior knowledge is required, and the course is technology-agnostic. However we will show you the specific tools we use to illustrate the framework's general principles, and you can always quiz us about them if you take the "Q&A" version.</p>
    <p>Which brings me to...</p>
    <h3>Two Versions</h3>
    <p>The course comes in two versions:</p>
    <ul>
      <li><b>v1: Personal Productivity: Basic Framework.</b> An on-demand series of videos setting out the personal productivity framework, with supporting texts (some previews below).</li>
      <li><b>v2: Personal Productivity Framework with Q&A.</b> The same content as version 1, above, but with an AMA (Ask Mathew Anything) webinar, held twice a week:
        <ul>
          <li>EU-friendly: every ?? at ?? CET (?? Pacific)</li>
          <li>US-friendly: every ?? at ?? Pacific (?? CET)</li>
        </ul>
      </li>
    </ul>
    <h3>Your instructor</h3>
    <h2>Course Preview</h2>
    <h3>The productivity triangle</h3>
    <p>The framework includes three critical components of any personal productivity system:</p>
    <ul>
      <li><b>time management</b>: master your calendar or let it master you</li>
      <li><b>task management</b>: borrowing liberally from Getting Things Done (GTD) and integrating it with time management</li>
      <li><b>content pipeline</b>: this sensemaking process helps you get from random bookmarks, notes and ideas to published content, using techniques ranging from Atomic notes to Zettlekasten.</li>
    </ul>

    <p>Nothing particularly revolutionary, right? Correct. But the secret is to get these three aspects working together like a triangle, with each side supporting the other two.</p>

    <h3>Avoiding the "productivity porn" trap with the 80/20 rule</h3>

    <p>One of the central principles underpinning the course is the 80/20 rule, sometimes called the <a href="https://en.wikipedia.org/wiki/Pareto_principle">Pareto Principle</a>. It states that 80% of the benefits from developing your personal productivity system come from the first 20% effort of developing it. The remaining effort is just polish: it'll take you another 80% of the effort to get the last 20% of the benefits.</p>

    <p>The corollary of this is that you might actually spend more time putting the final polish on your system than you will save in actually using it. So you'd imagine that nobody bothers with the last 20%.</p>

    <p>You'd be wrong. Take a look at the Medium blogging platform's Topics: <a href="https://medium.com/tag/productivity">Productivity</a> is near the top, with around 2.3 million followers and 280,000 stories. Spend any time looking through those posts and you'll see symptoms of what is known as the "productivity porn" trap.</p>

    <blockquote>
      "Productivity porn": the excessive consumption of articles, videos, social media and other content focused on tips, tools, and strategies for maximizing personal or professional productivity, often without translating into meaningful real-world outcomes... We're talking about the tantalizing allure of efficiency, the seductive dance of time management, and the hypnotic gaze into the abyss of to-do lists.<br>
      - The Rise and Fall of Productivity Porn: From Prodigy to Pointless Scrolling (ChatGPT)
    </blockquote>

    <p>The course provides a full (and optional) analysis of why and how this trap operates, but suffice to say here that it explains how we find ourselves deluged with productivity porn as soon as we Google "GTD". The arrival of ChatGPT and other LLMs will <a href="https://twitter.com/mathewlowry/status/1644769793600258048">only make the flood worse</a>.</p>

    <p>By now you'd be forgiven for imagining a faint odour of hypocrisy in the air: after all, I'm writing this as part of my personal productivity course, and some of my most popular posts are <a href="https://myhub.ai/@mathewlowry/?quality=all&types=think&tags=productivity&timeframe=anytime">tagged #productivity.</a></p>

    <p>A closer look, however, shows that - with the exception of posts concerning <a href="https://myhub.ai/@mathewlowry/?quality=all&types=do&types=think&tags=productivity&tags=myhub&timeframe=anytime">productivity <i>and</i> myhub.ai</a> (my personal project, launched recently) - most of those posts were written over 5 years ago, when I was figuring out my personal system. While I have improved it further I think I've avoided the above trap, and have designed the course to help you avoid it, too.</p>

    <h2>Learning paths</h2>
      <p>This course is excellent preparation for our more advanced Productivity- and AI-oriented courses, and so gives you a discount to:</p>
      <ul>
        <li>Personal Productivity & Obsidian</li>
        <li>Boost your personal productivity with AI</li>
        <li>Smarter, Faster, Better With ChatGPT.</li>
      </ul>


  </div>
{% include '_footer.html' %}
