{% include '_header.html' %}
  <!-- this file is {{ output_filename }} -->
  <div class="flex-container">

    <h1>Path Shift People - Personal Productivity</h1>

    <ul>
      <li><b>Personal productivity framework</b>: Whatever your productivity system, these short courses (from $50-100) will help you improve it, helping you design a personal productivity system that meets your unique needs, rather than training you to adopt someone else's, and ensuring that the resulting system saves you more time than you actually spend developing and refining the system.
        <br /><a href="https://store.pathshiftpeople.com/l/productivity-framework">Buy</a>
      </li>
    </ul>
  </div>
{% include '_footer.html' %}
