{% include '_header.html' %}
  <!-- this file is {{ output_filename }} -->
  <div class="flex-container">

    <h1>Preview: Personal Productivity Courses</h1>
    <p><b>Whatever your productivity system, these short courses will help you improve it.</b></p>
    <p>In every course, the goal is to help you develop a personal productivity system that meets <i>your</i> unique needs, rather than training you to adopt someone else's, and ensuring that the resulting system saves you more time than you actually spend developing and refining it.</p>
    <p>No prior knowledge is required, and most courses are technology-agnostic (exception: Personal Productivity & Obsidian), although the concrete examples will by definition demonstrate the specific tools we use in our personal productivity systems.</p>
    <h2>Courses at a glance</h2>
    <p>All courses come in a variety of formats, from "stand alone only" courses (videos and other downloads) to webinar-based courses.</p>
    <h3>Personal productivity framework</h3>
    <p>Helps you design a personal productivity system that meets your unique needs, rather than training you to adopt someone else's, and ensures that the resulting system saves you more time than you actually spend developing and refining the system.</p>
    <p>Learn more or <a href="https://store.pathshiftpeople.com/l/productivity-framework">Buy</a></p>
    <h3>Boosting your personal productivity with AI</h3>
    <p>Whatever your personal productivity system, AI can enhance it. However, AIs are developing so fast that any presciptive course ("use <i>these</i> tools in exactly <i>this</i> way") will be out of date in weeks. Instead, we'll show you a framework for integrating AI into personal productivity that you can apply to your personal productivity approach, whatever tools you use, and however AI evolves.</p>
      <p>Learn more or <a href="https://store.pathshiftpeople.com/l/productivity-framework">Buy</a>(fix link)</p>
    <h3>Personal Productivity & Obsidian</h3>
    <p>Obsidian is a powerful personal knowledge management (PKM) software which can be extended to integrate AI, support collaborative writing and publish websites.</p>
    <p>Learn more or <a href="https://store.pathshiftpeople.com/l/productivity-framework">Buy</a>(fix link)</p>
    <h2>Your instructors</h2>
    <p>Most of these courses have been developed by Mathew, with significant input from Pete for the Obsidian and AI elements.<br> <b>Learn more About Us.</b></p>
    <h2>Learning paths</h2>
    <p>Each course on this page gives a discount coupon for the other courses, as well as to some of PathShiftPeople's AI courses, so you could, for example:</p>
    <ul>
      <li>First develop your personal productivity system using our framework, then boost it with AI, and <i>then</i> learn even more AI tricks via Smarter, Faster, Better with ChatGPT</li>
      <li>Or if your existing productivity system just needs better knowledge management, jump straight to our Obsidian course and then boost it further with AI</li>
      <li>Alternatively, boost your existing productivity system with AI and then dive deeper into AI tricks via Smarter, Faster, Better with ChatGPT.</li>
    </ul>


  </div>
{% include '_footer.html' %}
