{% include '_header.html' %}
  <!-- this file is {{ output_filename }} -->
  <div class="flex-container">

    <h1>Preview: Personal Productivity Framework</h1>
    <p><b>Whatever your productivity system, this framework will help you improve it.</b></p>
    <p>internal ToC: Courses at a glance ¦ Course Preview ¦ Learning paths</p>
    <h2>Courses at a glance</h2>
    <h3>Who are these courses for?</h3>
    <p>If you're a knowledge worker who feels at least occasionally overwhelmed by the firehose of content and tasks coming at you every day, these courses are for you.</p>
    <p>Investing in improving your personal productivity will generate compound interest throughout your life ... as long as you don't get addicted to productivity porn and end up spending more time tweaking your system than actually using it to get things done.</p>
    <p>That's why this framework helps you design a personal productivity system that meets your unique needs, rather than training you to adopt someone else's. And it ensures that the resulting system saves you more time than you actually spend developing and refining the system. </p>
    <p>No prior knowledge is required, and the course is technology-agnostic. However we will show you the specific tools we use to illustrate the framework's general principles, and you can always quiz us about them if you take the "Q&A" version.</p>
    <p>Which brings me to...</p>
    <h3>Two Versions</h3>
    <p>The course comes in two versions:</p>
    <ul>
      <li><b>v1: Personal Productivity: Basic Framework.</b> An on-demand series of videos setting out the personal productivity framework, with supporting texts (some previews below).</li>
      <li><b>v2: Personal Productivity Framework with Q&A.</b> The same content as version 1, above, but with an AMA (Ask Mathew Anything) webinar, held twice a week:
        <ul>
          <li>EU-friendly: every ?? at ?? CET (?? Pacific)</li>
          <li>US-friendly: every ?? at ?? Pacific (?? CET)</li>
        </ul>
      </li>
    </ul>
    <h3>Your instructor</h3>
    <h2>Course Preview</h2>
    <h3>The productivity triangle</h3>
    <p>The framework includes three critical components of any personal productivity system:</p>
    <ul>
      <li><b>time management</b>: master your calendar or let it master you</li>
      <li><b>task management</b>: borrowing liberally from Getting Things Done (GTD) and integrating it with time management</li>
      <li><b>content pipeline</b>: this sensemaking process helps you get from random bookmarks, notes and ideas to published content, using techniques ranging from Atomic notes to Zettlekasten.</li>
    </ul>

    <p>Nothing particularly revolutionary, right? Correct. But the secret is to get these three aspects working together like a triangle, with each side supporting the other two.</p>

    <h3>Some snark on the 80/20 rule</h3>

    <p><b>Warning: satire ahead.</b></p>

    <p>If you're just getting started on the journey of developing your personal productivity system, I urge you to keep the 80/20 rule in mind. And if you've already spent years developing your system, I urge you to return to it regularly. I certainly do.</p>

    <p>The 80/20 rule is sometimes called the <a href="https://en.wikipedia.org/wiki/Pareto_principle">Pareto Principle</a>. It states that 80% of the benefits from developing your personal productivity system come from the first 20% effort of developing it. The remaining effort is just polish: it'll take you another 80% of the effort to get the last 20% of the benefits.</p>

    <p>The corollary of this is that you might actually spend more time putting the final polish on your system than you will save in actually using it. So you'd imagine that nobody bothers with the last 20%.</p>

        <p>You'd be wrong.</p>

    <h4>The "productivity porn" trap</h4>

    <p>Take a look at the Medium blogging platform's "explore Topics" feature: of the first 12 "2nd level" topics presented, Productivity is near the top, with around 2.3 million followers and 280,000 stories. Spend any time looking through those posts and you'll see symptoms of what is known as the "productivity porn" trap.</p>

    <blockquote>
      "Productivity porn": the excessive consumption of articles, videos, social media and other content focused on tips, tools, and strategies for maximizing personal or professional productivity, often without translating into meaningful real-world outcomes... We're talking about the tantalizing allure of efficiency, the seductive dance of time management, and the hypnotic gaze into the abyss of to-do lists.<br>
      - The Rise and Fall of Productivity Porn: From Prodigy to Pointless Scrolling (ChatGPT)
    </blockquote>

    <p>Like all good traps, the "productivity porn" trap works in several stages:</p>
    <ul>
        <li>You've spent that first 20% of the effort and are enjoying those 80% benefits. It feels good! That positivity means that adding one more tweak doesn't feel like an effort. In fact, you get a little dopamine rush of achievement. And, after all, that tweak will bring some extra benefit. So you add a tweak. And another one.</li>
        <li>You've now climbed well past the 80/20 threshold and you're well on your way to productivity "mastery", which actually means that you spend more time tweaking your productivity system than actually using it. Well, it is fun. Moreover, you've started sharing your approach with other people. You're getting views. And followers.</li>
        <li>You've reached 100/100: after huge effort you are at 100% productivity. Your system is perfect (for you) and you could not work more efficiently and productively ... if you actually spent time doing work, rather than tweaking your system and sharing your progress on Twitter and Medium. Fortunately, it's now a revenue stream: you're currently rewriting your 250 blog posts into a book and preparing your online course.</li>
    </ul>

    <p>It's only when your book hits the shelves already groaning with productivity porn, however, that you see two obvious problems.</p>

    <p><strong>Problem A: 100% specific to you</strong><br>Your book and course describe the 100/100 system you have obsessively fine-tuned to your specific needs and particular tastes over several years. Your readers, however, have different tastes and needs, so such a system by definition cannot be “off the shelf useful” to them. Not only would they have to adapt to your way of doing things, they'll have to change the way they think. And people think differently.</p>

    <p><strong>Problem B: What now?</strong><br>Your book is out, containing everything you've learned over your journey to productivity mastery. It does well for a while and then sales start to drop away, as they do for all books. Your editor's email echoes your own thoughts: what now?</p>

    <p><em>Solution: two birds, one stone</em><br>The solution to both problems, of course, is staring you in the face: time for a second edition. So back to the grindstone you go, refining your system further, writing more blog posts about it, trying to squeeze yet more blood from that stone.</p>

    <p><em>Hence today</em><br>Not only are you on a treadmill, pumping out an endless stream of content, you're not alone. Your success has spurred more and more people to jump on the bandwagon, just as you were once inspired by those who came before you. Together, you're all spinning the publishing cycle faster and faster.</p>

    <p>Which is how we find ourselves deluged with productivity porn as soon as we Google "GTD". The arrival of ChatGPT and other LLMs will <a href="https://twitter.com/mathewlowry/status/1644769793600258048">only make the flood worse</a>.</p>

    <p><strong>Hypocrite, moi?</strong><br>By now you'd be forgiven for imagining a faint odour of hypocrisy in the air: after all, I'm writing this as part of my personal productivity course! And some of my most popular posts are <a href="https://myhub.ai/@mathewlowry/?quality=all&types=think&tags=productivity&timeframe=anytime">tagged #productivity.</a></p>

    <p>A closer look, however, shows that - with the exception of those posts concerning <a href="https://myhub.ai/@mathewlowry/?quality=all&types=do&types=think&tags=productivity&tags=myhub&timeframe=anytime">productivity <i>and</i> myhub.ai</a> (my personal project, launched recently) - most of those posts were written over 5 years ago, when I was figuring out my personal system. While I have improved it further since then by integrating better note-taking tools (Roam, then Obsidian), I never got on the treadmill, and never went beyond installing a few basic Obsidian plugins.</p>

    <p>But I have to watch myself, because I enjoy diving deeper into that productivity rabbithole, particularly in and around Obsidian, and I can very easily imagine myself spending more time polishing my Obsidian vault than actually creating value with it.</p>

    <p>If there is one thing I hope my course does achieve, in other words, it's to help you avoid the productivity porn trap.</p>

    <h2>Learning paths</h2>
      <p>This course is excellent preparation for our more advanced Productivity- and AI-oriented courses, and so gives you a discount to:</p>
      <ul>
        <li>Personal Productivity & Obsidian</li>
        <li>Boost your personal productivity with AI</li>
        <li>Smarter, Faster, Better With ChatGPT.</li>
      </ul>


  </div>
{% include '_footer.html' %}
