{% include '_header.html' %}
    <!-- this file is {{ output_filename }} -->
    {% if output_filename == 'index.html' %}<!-- this is the home page -->{% endif %}
    <div class="main">
        <section class="photo">
            <!-- <img src="assets/img/person.png" alt="Photo"> -->
        </section>
        <section class="info">
            <h1 class="name">Coming Soon</h1>
            <h2><a href="mailto:support@pathshiftpeople.com">support@pathshiftpeople.com</a></h2>
        </section>
        <section class="links">
        </section>
    </div>
{% include '_footer.html' %}
