{% include '_header.html' %}
  <!-- this file is {{ output_filename }} -->
  <script src="https://store.pathshiftpeople.com/js/gumroad.js"></script>
  <style>
  .content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  </style>

  <script>
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.maxHeight){
        content.style.maxHeight = null;
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
      }
    });
  }
  </script>
  
  <h1>Path Shift People</h1>

  <nav>
      <ul>
          <li><a href="#products">Products</a></li>
          <li><a href="#about-us">About Us</a></li>
          <li><a href="#faqs">FAQs</a></li>
      </ul>
  </nav>

    <h2 id="about-us">Find your People</h2>

    <h3>Peter Kaminski</h3>
    <p>Peter Kaminski is a seasoned tech entrepreneur and consultant. His portfolio includes technical cofounding of five innovative Internet firms, including enterprise wiki solution provider Socialtext and Ethernet wide-area network service provider Yipes Communications. Leveraging his Silicon Valley experience, Kaminski offers unique perspectives on product and service development as well as operations management. Previous experience as a video game designer augments his approach to product development and user experience design.</p>
    <p>Kaminski possesses a broad, in-depth skill set, ranging from low-level coding, networking, and data representation, to team dynamics, agile development methodologies, and fostering harmony between business and technology. He advises companies and budding organizations on improving team dynamics, utilizing decentralized collaboration tools and processes, and leveraging generative AI to cultivate a more human-centered and efficient workplace.</p>

    <h3>Wendy Elford</h3>
    <p>Dr Wendy Elford is a 'practical futurist' with a penchant for design strategy and knowledge design. She's committed to cultivating sustainable systems within the realms of health, education, businesses, and communities, while maintaining a focus on inclusive, human-centric, and user-centred design. Wendy teams up with other designers and business leaders to maintain a holistic view of the product context, tracking real-time outcomes from prototype to final utilization scenarios.</p>
    <p>Her unique approach is rooted in complex adaptive systems, using text, large language models, observation, and narratives as data to inform the design process. This approach is not limited to tangible products like apps, buildings, and conferences, but also extends to abstract systems such as job roles, career paths, and evolving business work systems.</p>

    <h3>Mathew Lowry</h3>
    <p>Mathew Lowry has been an information architect, communication strategist and more in Brussels since 1995, when he built the first database-driven website for any European public organisation.</p>
    <p>He's been exploring the judicious use of machine learning algorithms in public administrations since 2011, when he used OpenCalais to help reorganize a clients' online content across multiple domains. He is currently helping two European Commission departments explore use cases for large language models in areas as diverse as internal knowledge management and evidence-informed policymaking. Other firsts and best practices can be found on his <a href="https://myhub.ai/@mathewlowry/about/">About page</a> on MyHub.ai, the platform he founded in 2020. More:</p>
  <ul>
    <li>Stuff he likes, thinks & does: <a href="https://myhub.ai/@mathewlowry">myhub.ai/@mathewlowry</a></li>
    <li><a href="https://twitter.com/mathewlowry">Twitter</a>, <a href="https://campaign.openworlds.info/@mathew">Mastodon</a> & <a href="https://www.linkedin.com/in/mathewlowry/">LinkedIn</a></li>
  </ul>



  <h2 id="products">Find your Path</h2>
<img width="90" height="90" src="https://www.workflowmax.com/hubfs/what%20is%20personal%20productivity.png" alt="">
  <button type="button" class="collapsible">Personal productivity</button>
  <div class="content">
    <p>Whatever your productivity system, these short courses will help you improve it, helping you design a personal productivity system that meets your unique needs, rather than training you to adopt someone else's, and ensuring that the resulting system saves you more time than you actually spend developing and refining it... <a href="/products/personal-productivity.html">read more</a> or check out:</p>
    <ul>
      <li><b>Personal productivity framework</b>: <a href=""/products/personal-productivity-framework2.html">preview</a> or <a href="https://store.pathshiftpeople.com/l/productivity-framework">buy</a>
      </li>
      <li><b>Boost your personal productivity with AI</b>: <a href=""/products/personal-productivity-framework2.html">preview</a> or <a href="https://pathshiftpeople.gumroad.com/l/AI-productivity">buy</a>.</li>
      <li><b>Personal Productivity & Obsidian</b> (under development).</li>
      </ul>
  </div>

  <img width="90" height="90" src="https://ec-pr.com/wp-content/uploads/2020/05/Communication-strategy-QA.png" alt="">
    <button type="button" class="collapsible">Communications</button>
    <div class="content">
      <p><b>The Communication strategy framework demystifies communication strategy.</b> Depending on the course you select, you will create either an "executive summary" of your organisation's external communications strategy, or a much more detailed full strategy, along with useful internal communications tools to magnify buy-in ... <a href="/products/personal-productivity.html">read more</a> or <a href="https://pathshiftpeople.gumroad.com/l/comms_strategy_framework">buy</a>
    </div>


  <h2 id="faqs">Frequently Asked Questions</h2>

  <h3>Why PathShiftPeople?</h3>
  <p><strong>PathShiftPeople's founders, like most people we know, have already had to "shift path" several times to date.</strong></p>
  <p>Sometimes shifting path means taking a new direction in your professional life, sometimes it's more personal. Sometimes it's your choice, sometimes it's imposed. But whatever the circumstances, <em>shift happens</em>. </p>
  <p>  And with the arrival of Large Language Models today, and AGI sometime down the road, it'll happen more and more frequently. </p>
  <p>When the one constant is change, when the ground never stops moving under your feet, only one essential skill remains: navigating path shifts. So we decided to create something to help people prepare.</p>

  <h3>How do you deliver your courses</h3>
  <p>You don't need any software, as we deliver most of the above courses via <b>Gumroad</b> (visit <a href="http://store.pathshiftpeople.com/">our store</a>), which also handles the purchasing processes. However, as many of our courses combine "on demand" content (texts, videos and downloadables) with webinars, where you can ask questions and exchange ideas. We manage these with <b>Calendly</b> and hold them on Zoom.</p>

  <h3>What happens if I miss a lesson? Or three?</h3>
  <p>If you're taking a course with one or more live meetings, missing is a shame, but not the end of the world:</p>
  <ul>
    <li>all live meetings should be recorded, if all participants' consent can be obtained, so you should be able to watch the meeting later</li>
    <li>in some circumstances we can give you credit to join the lesson in a subsequent course.</li>
  </ul>
  <p>In all cases, just talk to your course leader.</p>

    <h3>Do you offer bundles?</h3>
    <p>Not yet, but many courses include discount coupons for related courses, effectively giving you both the bundle discount <i>and</i> "try before you buy".</p>

  <h3>Can I purchase a gift course or bundle for a friend?</h3>
  <p>Not yet, but we are working on it. Please contact us and we will set it up for you.</p>

  <h3>How do I become a PathShiftPerson?</h3>
  <p>So you'd like to appear under About Us, above? We're currently developing a process, but for now simply email us outlining how you believe you can bring value to our community, and we will get back to you (see <em>How do I contact you?</em>, below).</p>

  <h3>How do I contact you?</h3>
  <p>If you are taking a course you can reach out to the teacher via the community as well as during any online workshops and webinars. </p>
  <p>For all other questions, please email support@pathshiftpeople.com.</p>


{% include '_footer.html' %}
